@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

:root{
    --bg: #09010D;
    --red: #FF0546;
    --white: #FAFAFA;
    --redshadow: #660F31;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
    font-weight: 700;
    line-height: 1;
}

body{
    background: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app{
    background:var(--white);
    width: 90%;
    height: auto;
    max-width: 600px;
    margin-bottom: 20px;
    border: 10px solid var(--red);
    border-radius: 10px;
    padding: 30px 30px 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 75px;
}

.quiz{
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#question{
    font-size: clamp(24px, 4vw, 32px);
    text-align: center;
    color: var(--bg);
}

#answer-buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.btn{
    width: auto;
    border: 0;
    outline: 0;
    font-size: clamp(24px, 4vw, 32px);
    padding:8px;
    color: var(--white);
    background-color:var(--red);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 0 0 var(--redshadow);
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background-color: #d40038;
    color: #fff
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    display: none;
    width: auto;
    border: 0;
    outline: 0;
    font-size: clamp(24px, 4vw, 32px);
    padding:8px;
    color: var(--white);
    background-color:var(--red);
    border-radius: 5px;
    cursor: pointer;
}

.correct{
    background: #66E500;
}
.incorrect{
    background: #FF6600;
}

@media (max-width:768px){
    body{
        height: auto;
    }

    .app{
        margin: 20px auto;
    }
}