@import url(https://fonts.bunny.net/css?family=lilita-one:400);

:root{
    --bg: #09070b;
    --red: #A363B1;
    --white: #EDE7F6;
    --redshadow: #5a2f7a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lilita One', display;
    font-weight: 400;
    line-height: 1;
}

body{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.app{
    background:var(--white);
    width: 90%;
    max-width: 500px;
    margin: 30px auto 0;
    margin-bottom: 20px;
    border: 10px solid var(--red);
    border-radius: 10px;
    padding: 30px 30px 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.logo{
    width: 75px;
}

.quiz{
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#question{
    font-size: 32px;
    text-align: center;
    color: var(--bg);
}

#answer-buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.btn{
    width: auto;
    border: 0;
    outline: 0;
    font-size: clamp(24px, 4vw, 28px);
    padding:8px;
    color: var(--white);
    background-color:var(--red);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 0 0 var(--redshadow);
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background-color: #a15bd6;
    color: #fff
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    display: none;
    width: auto;
    border: 0;
    outline: 0;
    font-size: clamp(24px, 4vw, 28px);
    padding:8px;
    color: var(--white);
    background-color:var(--red);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 0 0 var(--redshadow);
}

.correct{
    background: #77ed17;
}
.incorrect{
    background: #fb8231;
}

@media (max-width: 768px){
    body{
        height: auto;
    }

    .logo{
        width: 60px;
    }

    .quiz{
        padding: 10px 0; 
    }

    #question{
        font-size: 24px;
    }

    #answer-buttons{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .btn{
        padding: 10px;
    }

    #next-btn{
        display: none;
    }
}